if config.comments == 'gitment'
  link(rel="stylesheet" href='#{theme.comments.gitment.css}')
  script(src='#{theme.comments.gitment.js}')
  .comments
    script.
      const gitment = new Gitment({
        id: new Date('#{page.date}').toISOString(),
        owner: '#{config.gitment.owner}',
        repo: '#{config.gitment.repo}',
        oauth: {
          client_id: '#{config.gitment.client_id}',
          client_secret: '#{config.gitment.client_secret}',
        },
      });
      gitment.render(document.querySelector('.comments'));

if config.comments == 'gitalk'
  link(rel="stylesheet" href='#{theme.comments.gitalk.css}')
  script(src='#{theme.comments.gitalk.js}')
  .comments
    script.
      const gitalk = new Gitalk({
        id: new Date('#{page.date}').toISOString(),
        owner: '#{config.gitalk.owner}',
        repo: '#{config.gitalk.repo}',
        clientID: '#{config.gitalk.client_id}',
        clientSecret: '#{config.gitalk.client_secret}',
        distractionFreeMode: false,
      });
      gitalk.render(document.querySelector('.comments'));

if config.comments == 'disqus'
  .comments
    #disqus_thread
    script.
        var disqus_shortname = '#{theme.disqus}';
        var disqus_identifier = '#{page.path}';
        var disqus_title = '#{page.title}';
        var disqus_url = '#{config.url}/#{page.path}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    script(id='dsq-count-scr' src='//#{theme.disqus}.disqus.com/count.js' async)

