aside.home-menu
  nav.home-icon-con.upside
    - var isIslandPages = ['timeline'].includes(page.pname);
    a.home-menu-icon.brand(href="/blog/") 涛
    each value, key in config.menus
      if value.link == page.pname
        a.home-menu-icon.active(href="/blog/#{value.link}")
          i.fas(class="#{value.icon}")
      else
        a.home-menu-icon(href="/blog/#{value.link}")
          i.fas(class="#{value.icon}")
    if !isIslandPages
      a.home-menu-icon.search-trigger.hint--right(aria-label="Click to take you to the search box.")
        i.fas.fa-search
    a.home-menu-icon.follow(href="javascript:;" title="Contact Me") +
    div.home-contact.hidden
      each value, key in config.social
        a(href="#{value.url}" target="something")
          img(src="#{value.img}" alt="#{key}")
  nav.home-icon-con.downside
    a.home-menu-icon.rss(href="/blog/rss2.xml")
      i.fas.fa-rss
    if page.pname == "about"
      a.home-menu-icon.active(href="/blog/about/")
        i.fas.fa-smile
    else
      a.home-menu-icon(href="/blog/about/")
        i.fas.fa-smile
    span#dark-mode.home-menu-icon.hidden
      i.fas.fa-adjust