if page.series
  - var counter = 0
  aside.sidenav.series
    h2= "In Serie: "+page.series
      i.fa.fa-arrow-down.expand
      i.collapse.fa.fa-arrow-up
    ul.article-list
      each post,key in site.posts.toArray()
        if post.series == page.series && counter != 6
          if post.title == page.title
            li
              a.current(href=url_for(post.permalink) data-id=count++)= post.title
          else
            li
              a(href=url_for(post.permalink) data-id=count++)= post.title

- var posts = []
- if(page.categories){
-   var cat = page.categories.toArray()[0].name
-   var existTags = page.tags.toArray().map(function(v){return v.name})
-   var prePosts = site.categories.findOne({name: cat}).posts
-   if(prePosts.toArray().length>0){
-     var someCatPosts = prePosts.sort('date', -1).toArray()
-     someCatPosts.forEach(function(v){
-       var tags = v.tags.toArray().map(function(t){return t.name}).filter(function(n){return existTags.indexOf(n)!=-1})
-       if(tags.length>0 && posts.length < 5 && v.permalink != page.permalink){
-         posts.push(v)
-       }
-     })
-   }
- }
if posts.length > 0
  div.relatedposts.sidenav
    h2= "Related Posts:"
    ul.article-list
      each post in posts
        li
          a(href=url_for(post.permalink))= post.title

if site.posts.toArray().length>2
  aside.sidenav
    div.recentposts
      h2 Recent Posts:
      ul.article-list
        each post in site.posts.sort('-date').limit(5).toArray()
          if post.title != page.title
            li
              a(href=url_for(post.permalink))= post.title
