- var authors = theme.authors
summary.title-excerpt
  if item.excerpt
    = item.excerpt
  else if item.language == "en"
    = strip_html(item.content).slice(0,300) + "..."
  else
    = strip_html(item.content).slice(0,160) + "..."

div.post-info
  span.author
    i.fa.fa-user
    - var author = item.author || "taoalpha"
    a(href="/blog/user/#{ author }") #{ authors[author].display_name }
  span.category
    i.fa.fa-briefcase
    each cat in item.categories.toArray()
      a(href=url_for("categories/"+cat.name)) #{ cat.name }
  span.tags
    i.fa.fa-tags
    each tag in item.tags.toArray()
      a(href=url_for("tags/"+tag.name.replace(/ /g,'-'))) #{ tag.name }
  span.postdate
    i.fa.fa-history 
    = date(item.date,'dd, MMMM D, YYYY')
  span.readspeed
    i.fa.fa-clock-o
    = Math.floor((strip_html(item.content).length/350)) + " 分钟读完"
  span.viewcount
